body {
    font-family: Arial;
    background: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    background: whitesmoke;
    padding-top: 40px;   
    padding-bottom: 40px; 
}
.card, .result-card {
    background: #fff;
    width: 80%;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,.1);
    margin-top: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
input {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 4px;
}
.btn {
    background: #007bff;
    color: white;
    padding: 12px 30px;
    border: none;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover {
    background: #0056cc;
}
.danger {
    color: red;
    font-size: 22px;
}
.safe {
    color: green;
    font-size: 22px;
}
.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #4a6cf7;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 15px;
}
.img {
    width: 60%;
    margin-top: 20px;
    border-radius: 10px;
}
